<ion-view title="Bookmarks">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/iROMlN6TdCz3jw7fDmmI_a155164_full_0.jpg">
                <h2>Audi A4</h2>
                <p>2015 year, 1.9, 131hp</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/iROMlN6TdCz3jw7fDmmI_a155164_full_0.jpg">
                <h2>Audi A4</h2>
                <p>2015 year, 1.9, 131hp</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/iROMlN6TdCz3jw7fDmmI_a155164_full_0.jpg">
                <h2>Audi A4</h2>
                <p>2015 year, 1.9, 131hp</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/iROMlN6TdCz3jw7fDmmI_a155164_full_0.jpg">
                <h2>Audi A4</h2>
                <p>2015 year, 1.9, 131hp</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>