<ion-view title="Search Cars">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-select" name="car-make">
                <span class="input-label">Make</span>
                <select></select>
            </label>
            <label class="item item-select" name="car-model">
                <span class="input-label">Model</span>
                <select></select>
            </label>
            <label class="item item-select" name="car-year">
                <span class="input-label">1st registration from</span>
                <select></select>
            </label>
            <label class="item item-select" name="car-price">
                <span class="input-label">Price up to</span>
                <select></select>
            </label>
            <label class="item item-select" name="car-mileage">
                <span class="input-label">Mileage up to</span>
                <select></select>
            </label>
            <label class="item item-select" name="car-fuel">
                <span class="input-label">Fuel type</span>
                <select></select>
            </label>
            <label class="item item-select" name="car-country">
                <span class="input-label">Country</span>
                <select></select>
            </label>
        </form>
        <button class="button button-full button-balanced">Search</button>
    </ion-content>
</ion-view>